main{
    margin:0 auto;
    margin-top: calc(44px + 100px);
    width: calc(100% - 100px * 2);
    max-width: 600px;
}
.title.flex-container{
    display: flex;
    font-size: 2rem;
    justify-content: center;
    column-gap: 40px;
    margin-bottom: 20px;
}
.left,
.month,
.right{
    cursor: pointer;
}
.weekday.container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 1.5rem;
    text-align: center;
    background-color: darkseagreen;
    border-radius: 10px;
    padding: 10px;
}
.dates.container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    padding: 10px;
}
.date.item{
    padding: 10px;
    aspect-ratio: 1/1; /* 비율 맞추기. 그림에 많이 사용*/
    display: grid;  /*글자 수평, 수직 가운데로*/
    place-items: center;
}
.date.item.item:nth-child(1){
    /* grid-column:6; 1일을 금요일로 옮기기 */
}
/* .date.item:nth-child(7n+2){
    color:blue;
}
.date-item:nth-child(7n+3){
    color:red;
} */
.review.flex-container{
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    row-gap: 10px;
    background-color: darkseagreen;
    border-radius: 10px;
    padding: 10px;
}
@media screen and (max-width : 720px) {
    main{
        width: calc(100% - 10px * 2);
    }
}

/* mobile */
@media screen and (max-width : 540px) {
    main{
        margin-top: calc(44px + 40px);
        width: calc(100% - 10px * 2);
    }
}

/*delete me*/
/* main *{
    border: 2px solid black;
} */

/*손가락 모양으로 바꾸자 */
.left:hover, .right:hover{
    cursor: pointer;
} 