body{
    background-color: beige;
}
/* h1의 자매인 모든 h2에 plum 배경색 */
h1 ~ h2 {
    /* background-color: plum; */
}/*h1은 적용되지 않는다. 시험!*/

/* h1의 자매 중 첫번째 h2만 plum 배경색 */
h1+h2 {
    background-color: plum;
}
/* 시험! 실질적 동생은 h2밖에 없기 때문이다
h1+h3 {
    background-color: plum;
} */

/* h1과 h2는 plum 배경색 */
h1,
h2 {
    background-color: plum;
}